@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@1,100..900&display=swap');
*{
    
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
    
    
    
}
/*CSS Reset / Normalize*/

/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #ffffff;
   --cor-de-link: #000;
   
}

body {
    box-sizing: border-box;
    background-color:  rgba(30,35,38,1);
    font-family: 'Raleway';
    margin: 2px;
    padding: 3px;
    
     
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    
    
}

.title__bio{
    
 margin-top: 20px;
 font-size: 23px;
 font-family: 'Righteous';
  padding-left: 5px;
  width: 100%;
  font-weight: bold;
  margin-bottom: 2rem;
}
.title__subsection{
    font-size: 11px;
    font-weight: normal;
}

ol, ul,li {
    list-style: none;
    display: flex;
    flex-direction:column;
    align-items: center;
    display: inline-block;
text-decoration: none;

    
}
.title__network__item i{
    
    transform: .4s;
}
.title__network__item i:hover{
    
    transform: scale(1.2);
    
}




a{
    text-decoration: none;
    color: #ffffff;  
    display: inline-block;
    text-decoration: none;
    
    line-height: 25px;
    margin: 10px 5px;
    font-size: 15px;
    transition: .3s;
    overflow: hidden;
    

}


/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
    
    background-color: rgb(28, 32, 34);
    height:    90px;
    display: ruby-text;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.menu__header{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;


}
.menu__list{
    display: none;
    
}
.menu__list li a{
    color: #ffffff;
    transition: .3s;
}
.menu__list li a:hover{
    color: rgb(24, 24, 239);
    transform: scale(1.2);
    
}

    
    

/*Sección Title*/
.menu__title{
    font-family: 'Righteous';
    font-size: 17px;
    color: rgb(24, 24, 239);
    
    justify-content: space-between;
}
.nav-reponsive{
    background-color: rgb(170, 170, 210);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    
}
.menu__list__item__contato a{
    margin-left: 8%;
transition: .4s ;   
}
.menu__list__item__contato a:hover{
     transform: scale(1.1);
     color: rgb(24, 24, 239);
}


.title__div{
background-color: rgb(28, 32, 34);
border-radius: 40px;
padding: 20px;
max-width: 350px;

text-align: center;
margin-inline: 24%;
margin-top: 10px;
margin-bottom: 160px;
height: 459.131px;
transition: none 0s ease 0s;
}



section.title{

    
    background: linear-gradient(to top, rgba(30,35,38,.6), rgba(30,35,38,1)),
    url(fondoportafolio.jpg.png);
    background-size: cover;
    height: 100vh;
    color: #ffffff;
    display: flex;
    align-items: center;

    

}
.title__profile{
    
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;


    
    margin-top: 40px;
    border: 10px solid rgb(11, 11, 187);
    
    width: 80%;
    margin: auto;
    border-radius: 100%;
    
}


.title__network__item a{
    width: 50px;
    font-size: 33px;
    margin-top: 40px;
    
}
.title__network__item a:hover{
    color: blue;
}

    

/*Sección About*/

.about__title{
color: rgb(24, 24, 239);

font-size: 25px;
justify-content: space-between;
font-family: 'Righteous';
text-align: center;
}


section.about{
    background-color:rgb(24, 28, 29);
    
  color: #ffffff;
  
  
  
}
.abraphout__parag{
    
    line-height: 25px;
    margin-bottom: 20px;
    padding: 75px;

    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: sans-serif;
}

.abraphout__parag {
    color: #ffffff;
    font-weight: bold;
}



/*Seccion Skills*/
li.skills__img{
    margin-left: -35px;
    width: 40px;
}
span{
    margin-left: 12px;

    }
.skills__title{
color: rgb(24, 24, 239);
letter-spacing: 1px;
text-align: center;
font-size: 30px;
font-weight: bold;
padding: 10px;
}
.skills__box{
    
    width: 80%;
    margin-left: 33px;
    background: linear-gradient( 450deg, darkblue, black);
    border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}
.skills__box *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-weight: 500;
}
.detalles{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.menus{
    position: relative;
    border: 1px solid cyan;
    border-radius: 20px;
}
.menus div{
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    background-color: cyan;
}
/* animacion */
#css-menus{
    animation: css-barra 2s forwards;
}
@keyframes css-barra{
    100%{
        width:90%;
    }
}
#react-menus{
    animation: react-barra 2s forwards;
}
@keyframes react-barra{
    100%{
        width: 30%;
    }
}


#javascript-menus{
    animation: javascript-barra 2s forwards;
}
@keyframes javascript-barra{
    100%{
        width: 60%;
    }
}
#html5-menus{
    animation: html5-barra 2s forwards;
}
@keyframes html5-barra{
    100%{
        width: 80%;
    }
}
.skills__box:hover{
transform: scale(1.1);
    
}


/*Sección Hobbies*/

.hobbies__title{
    font-size: 30px;
    font-family: 'Righteous';
    text-align: center;
    color: rgb(24, 24, 239);
    top: 25px;
    transition: none 0s ease 0s;
    cursor: move;
    position: relative;
}

.hobbies__box{
    
    width: 120px;
    height: 100px;
    background: linear-gradient( 450deg, darkblue, black);
    border-radius:10px;
    
    margin: 0 5px 15px 0;
    transition: .1s;
    cursor: pointer;
    display:inline-grid;
    
    

}
.hobbies__box:hover{
    
   color: green;
   transform: scale(1.1);
   



   }
    
   
    
    
    




.hobbies__line{
    display: table-cell;
    height: 350px;
    padding: 33px;
    text-align: center;
    color: cyan;
    
}
.hobbies__img{
    


    font-size: 30px;
    display: flex;
    padding: 16px;
}
.hobbies__name{
    

    flex-direction: column;
 font-family: 'Righteous';
 display: flex;
 
}





/* Experiencia Académica*/
.academic__title{
    width: auto;
    font-size: 30px;
    font-family: 'Righteous';
    text-align: center;
    color: rgb(24, 24, 239);
    padding: 10px;

}
.academic__courses__list{
display: flex;

}
section.academic{
    color: #ffffff;
    
}

/* experiencia*/
.experience__section__title{
    color: rgb(24, 24, 239);
    font-size: 30px;
    font-family: 'Righteous';
    padding: 10px;
    width: auto;   
}


img{
    width: 76%;
    margin-left: 45px;
}


section.experience{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    
}
div.experience__info{
    
    display: flex;
    justify-content: center;

}
div.experience__info-container{
    
    display: flex;
    justify-content: center;
}

button{
    color: cyan;
    cursor: pointer;
    font-family: 'Righteous';
    border-radius: 10%;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 5px 10px;
    font-size: 16px; 
    transition: .1s; 
    background: linear-gradient( 450deg, darkblue, black);
}
button:hover{
    transform: scale(1.1);
    color: green;
}




/*Contacto*/

.formcontato__title{
    
    color: rgb(24, 24, 239);
    font-size: 30px;
    font-family: 'Righteous';
    padding: 30px;
    display: flex;
    justify-content: center;  
}

section.formcontato{

    color: #ffffff;
    background:linear-gradient( 450deg, darkblue, black);
    border-radius: 3%;
    margin-left: 5%;
    width: 85%;
}
.formcontato__input{
    font-family: 'Righteous';
    cursor: pointer;
    font-weight: bold;
    margin-left: 7%;
    width: 36%;
}


.formcontato__textarea{
    
    margin-left: 7%;
    width: 80%;
}

/*footeer*/


.footer__rodape{
    
    color: #ffffff;
    font-family:'Righteous';
    display: ruby-text;
    margin-left: 8%;
}


/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media screen and (min-width: 768px) {



    


/* Menú */
section.menu{
    height: 90px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;

    top: 0;
    left: 0;
    z-index: 99;
    
}
/*title*/
.title__div{

    margin: auto;
}

/* sobre mi */
section.about{
    
    padding: 10px;
}

.about__title{


    font-size: 32px;
    justify-content: space-between;
    font-family: 'Righteous';
    text-align: center;
    color: rgb(11, 11, 187);
    }


.abraphout__parag{
    
    margin: auto;
}


/*Skills*/
.skills__box{
    
    width: 80%;
    padding: 30px 70px 50px;
    background: linear-gradient( 450deg, darkblue, black);
    border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: 10px;

    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    margin-left: 10%;
}
    
    


/*Hobbies*/
.hobbies__box{
    background-color: rgb(41, 173, 173);
    width: 240px;
    height: 140px;

}
.hobbies__title{
    font-size: 32px;
font-family: 'Righteous';
text-align: center;
    padding: 7%;
    position: relative;
    top: 45px;
    color: rgb(12, 12, 228);
}
.hobbies__line{
    background-color: rgb(28, 32, 34);
    
}
.hobbies__img{
    width: 181px;
    height:15px;
    padding: 2px;
    margin: 40px;
    
    

}


 

/*Formación Académica*/

/*Experiencia Profesional*/
img{
    
    width: 76%;
    margin-left: 13%;
}
/* Footeer */
 p{
    
    margin-top: 22px;

}




}

/*Desktop*/
@media screen and (min-width: 1024px) {
    body{
        
        

        box-sizing: border-box;
        background-color:  rgba(30,35,38,1);
        font-family: 'Raleway';
        margin: 2px;
        padding: 12px;
        line-height: 0;
        overflow-x: hidden; 
        display: initial;
        justify-content: center;
    

    }

    section.menu{
        height: 95px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;
        
        
    }

    .nav-reponsive{
        background-color: #1cb698;
        color: #ffffff;
        padding: 9px 12px;
        border-radius: 5px;
        cursor: pointer;
        display: none;
        


    }
    section.menu header{
        max-width: 1000px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        
    }

    .menu__header{
        
        display: flex;
        
    }
    
    .menu__list{
        display: flex;
        flex-direction: row;
        font-size: 16px;
        gap: 10px;
    

    }
    .menu__list__item__contato{
        display: none;
        justify-content: center;
        align-items: center;
          
    }
    
        
        
    
    .title__div{
        background-color: rgb(28, 32, 34);
        border-radius: 40px;
        padding: 20px;
        margin: auto;
        text-align: center;
    }
    a{
        
        display: block;

    }


/*Menu*/

/*Titulo*/

/*Sección sobre mi*/



.about__title{
    margin-top: 10%;


    font-size: 45px;
    justify-content: space-between;
    font-family: 'Righteous';
    text-align: center;
    color: rgb(11, 11, 187);
    }




/*Skills*/
.skills__title{
font-size: 50px;
font-family: 'Righteous';
text-align: center;
    padding: 7%;
    position: relative;
    top: 45px;
    color: rgb(11, 11, 187);

}



/*Hobbies*/
.hobbies__box{
    background-color: rgb(41, 173, 173);
    width: 240px;
    height: 140px;

}
.hobbies__title{
    font-size: 46px;
font-family: 'Righteous';
text-align: center;
    padding: 7%;
    position: relative;
    top: 45px;
    color: rgb(12, 12, 228);
}
.hobbies__line{
    
    display: block;
    
}
.hobbies__img{
    width: 181px;
    height:15px;
    padding: 2px;
    margin: 40px;
    

}


 
/*Formación Académica*/
.academic__title{
    font-size: 43px;
    font-family: 'Righteous';
    text-align: center;
        padding: 7%;
        position: relative;
        top: 45px;
        color: rgb(11, 11, 187);
}

/*Experiencia Profesional*/
.experience__section__title{
    font-size: 43px;
font-family: 'Righteous';
text-align: center;
    color: rgb(11, 11, 187);
}
a{
    display: block;
    margin-top: 80px;
    
}
div.experiencie__box{
    margin-top: -50px;
}

 /*Contacto*/
 .formcontato__title{
    font-size: 40px;
    font-family: 'Righteous';
    text-align: center;
        padding: 7%;
        color: rgb(11, 11, 187);
        margin-bottom: 60px;
 }
 .formcontato__input{
 font-family: 'Righteous';
 cursor: pointer;
 font-weight: bold;
 margin-left: 7%;
 width: 36%;
 

 

/*Footer*/


 }
}